<div class="col-lg-12">
  <h1 class="h1-strong">
    {{title}}
  </h1>
  <div id="data-profile" *ngIf="user">
    <div class="avatar pull-left">
      <img src="{{ url + 'get-image-user/' + user.image }}" *ngIf="user.image"/>
      <img src="assets/user.png" *ngIf="!user.image"/>
    </div>
    <div class="user-name pull-left">
      <div class="label label-default pull-left" *ngIf="followed">
        Follow you
      </div>
      <div class="clearfix"></div>
      <div class="pull-left">
        <p class="name">{{user.name + ' ' + user.surname}}</p>
        <p class="username">{{user.username}}</p>
      </div>
      <div class="clearfix"></div>
      <div class="follow pull-left">
        <button class="btn btn-success" *ngIf="!following" (click)="followUser(user._id)">
          Follow
        </button>
        <button
          class="btn btn-primary"
          *ngIf="following"
          (click)="unfollowUser(user._id)"
          (mouseenter)="mouseEnter(user._id)"
          (mouseleave)="mouseLeave()"
          [class.btn-danger]="user._id == followUserOver"
        >
				 	<span *ngIf="user._id == followUserOver; else following">
						Unfollow
					</span>
          <ng-template #following>
            Following
          </ng-template>
        </button>
      </div>

    </div>

    <div class="stats pull-left mb-40" *ngIf="stats">
      <div class="following-data">
        <a [routerLink]="['/siguiendo', user._id, 1]">
					<span class="label-stats">
						Following
					</span>
          <span class="number-stats">
						{{stats.following}}
					</span>
        </a>
      </div>
      <div class="following-data">
        <a [routerLink]="['/seguidores',user._id,1]">
					<span class="label-stats">
						Followers
					</span>
          <span class="number-stats">
						{{stats.followed}}
					</span>
        </a>
      </div>
      <div class="following-data">
        <a href="#">
					<span class="label-stats">
						My Favorites
					</span>
          <span class="number-stats">
						{{stats.favorites}}
					</span>
        </a>
      </div>
    </div>
    <div class="col-lg-12 favorites" *ngIf="following">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
          <div class="col-xs-12">
            <div *ngFor="let favorite of favorites" class="col-xs-4">
              <div class="row">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-12">
                      <img src="{{favorite.image}}"/>
                      <p>{{favorite.title}}</p>
                      <p class="">{{favorite.price}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
