<div class="col-lg-8">
  <h1 class="h1-strong">{{title}}</h1>
  <div class="people">
    <div *ngFor="let user of users" class="item-user">
      <ng-container *ngIf="user._id != identity._id">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="image-user pull-left">
              <a href="#">
                <img src="assets/user.png" class="avatar-default" *ngIf="!user.image"/>
              </a>
            </div>
            <div class="user-name pull-left">
              <p class="name-surname">
                <a [routerLink]="['/profile',user._id]">
                  {{user.name + ' ' + user.surname}}
                </a>
              </p>
              <p class="username">{{user.username}}</p>
            </div>
            <div class="pull-right" *ngIf="user._id != identity._id">
              <button class="btn btn-success" *ngIf="follows.indexOf(user._id) < 0"
                      (click)="followUser(user._id)">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Follow
              </button>
              <button class="btn btn-primary"
                      *ngIf="follows.indexOf(user._id) >= 0"
                      (mouseenter)="mouseEnter(user._id)"
                      (mouseleave)="mouseLeave(user._id)"
                      (click)="unfollowUser(user._id)"
                      [class.btn-danger]="user._id == followUserOver"
              >
                <span *ngIf="user._id == followUserOver; else following">
                  <span class="glyphicon glyphicon-minus-sign"></span>
                  Unfollow
                </span>
                <ng-template #following>
                  <span class="glyphicon glyphicon-ok-sign"></span>
                  Following
                </ng-template>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="clearfix"></div>
