<div class="col-lg-8 col-lg-offset-2">
	<div class="jumbotron">
		<h2>{{title}}</h2>
		<p>
			<button class="btn btn-primary btn-lg" (click)="getDishwasher()">
				Dishwasher
			</button>
			<button class="btn btn-primary btn-lg" (click)="getSmallAppliances()">
				Small Appliances
			</button>
		</p>
	</div>
</div>
<div class="col-lg-8 col-lg-offset-2">
	<div class="row">
		<div class="col-xs-12">
			<div *ngFor="let product of products" class="col-xs-4">
				<div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div *ngIf="userLogin()" class="col-xs-12">
								<button class="btn btn-success pull-right" (click)="addFavorites(product._id)">
									ADD
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<img src="{{product.image}}" />
								<p>{{product.title}}</p>
								<p class="">{{product.price}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>