<div class="col-lg-8 col-lg-offset-2">
	<div class="jumbotron">
		<h2>{{title}}</h2>
		<p>
			<button class="btn btn-primary btn-lg" (click)="getDishwasher()">
				Dishwasher
			</button>
			<button class="btn btn-primary btn-lg" (click)="getSmallAppliances()">
				Small Appliances
			</button>
		</p>
	</div>
</div>
<div class="col-lg-8 col-lg-offset-2" *ngIf="products">
  <label>
    <span>Order By:   </span>
    <input (click)="orderBy(category, 'price')" type="radio" name="order" value="price" checked> Price
    <input (click)="orderBy(category,'title')" type="radio" name="order" value="title"> Title
  </label>
</div>
<div class="col-lg-8 col-lg-offset-2" *ngIf="products">
	<div class="row">
		<div class="col-xs-12">
			<div *ngFor="let product of products" class="col-xs-4">
				<div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div *ngIf="userLogin()" class="col-xs-12">
								<button class="btn btn-success pull-right" (click)="addFavorites(product._id)">
									ADD
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<img style="height: 300px;" src="{{product.image}}" />
								<p>{{product.title}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-8 col-lg-offset-2 text-center" *ngIf="!products && showLoading">
  <span class="loading">Loading    </span>
  <img class="pacman" src="../../../assets/Pacman-0.9s-200px%20-%20copia.gif"/>
  <!--<div class="col-lg-4">-->
  <!--</div>-->
  <!--<div class="col-lg-4">-->
  <!--</div>-->
</div>
